
.first {

    position: relative;
    margin:0;

      &__background-video {
        width: 100%;

      }

      &__overlay {
        position: absolute;
        width: 50%;
        text-align: center;
        font-weight: 300;
        font-family: 'Rock+Salt';  /* font-family: 'Berkshire Swash', cursive; */

        /* black color of inside of the box
        background-color: rgba(0,0,0,.3);
        */
        color:  #fff;
        padding: .2em;
        /*use below to control location of text*/
        top: 10%;
        left: 25%;

        /*the z-index makes the text stack above the video layer*/
        z-index: 1;

        font-size: 1.6rem;

          @mixin atSmall {
            font-size: 3.8rem;
            left:25%;
          }

          @mixin atMedium {
            font-size: 5.2rem;
            margin-top: 1em;
            top: 5%;
            left:25%;
          }
          @mixin atLarge {
            font-size: 7.2rem;
          }
        }


      &__overlay a:link,
      &__overlay a:visited{
        text-decoration: none;
        color: #fff;
        border: 0;
      }

      &__overlay a:hover,
      &__overlay a:active{
        font-size: 120%;
        font-weight: 700;
        opacity: 0.9;
      }
      &--click {
        padding: 3%;
        list-style: none;
        bottom: 0;
        width: 50%;
      }

      &--click-red{
        position: absolute;
        display: inline-block;

        right: 0;
        text-align: right;

        @mixin atSmall {
          bottom: 0;
          right: 1%;
        }
        @mixin atMedium {
          bottom: 0;
          right: 1%;
        }
        @mixin atLarge {
          bottom: 0;
          right: 0;
        }
      }
      &--logo {

        display: inline-block;
        height: 40px;
        width: auto;
        @mixin atSmall {
          height: 80px;
        }
        @mixin atLarge {
          height: 90px;
        }
      }

      &--figure {
        position: relative;
        display: inline-block;

        margin: 0 auto;

        }
      &--figcaption {
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
        color: #fff;
        }
      &--click-blue {
        position: absolute;
        display: inline-block;
        text-align: left;
        left:0;

        @mixin atSmall {
          bottom: 0;
          left:1%;


        }
        @mixin atMedium {
          bottom: 0;
          left: 1%;
        }
        @mixin atLarge {
          bottom: 0;
          left: 0;
        }
    }

    &--figcaption-red {

      font-size: .5rem;
      line-height: 9px;
      font-weight: 300;
      top:20%;
      @mixin atSmall {
        font-size: .9rem;
        line-height: 12px;
        font-weight: 400;
        top: 35%;
      }
    }

    &--figcaption-blue {

      font-size: .6rem;
      line-height: 9px;
      font-weight: 300;
      top: 30%;

      @mixin atSmall {
        font-size: .9rem;
        line-height: 12px;
        font-weight: 400;
        top: 40%;
      }
    }
}
