
.first {

    position: relative;
    margin:0;


  &__background-video {
    width: 100%;
  }

  &__overlay {
    position: absolute;
    width: 50%;
    text-align: center;
    font-weight: 300;
    font-family: 'Rock+Salt';  /* font-family: 'Berkshire Swash', cursive; */

    /* black color of inside of the box
    background-color: rgba(0,0,0,.3);
    */
    color:  #fff;
    padding: .2em;
    /*use below to control location of text*/
    top: 10%;
    left: 22.5%;
    /*the z-index makes the text stack above the video layer*/
    z-index: 1;

    font-size: 2.2rem;

      @mixin atSmall {
        font-size: 3.8rem;
        left:25%;
      }

      @mixin atMedium {
        font-size: 5.8rem;
        
        left:25%;
      }
  }

  &__overlay a:link,
  &__overlay a:visited{
    text-decoration: none;
    color: #fff;
    border: 0;
  }

  &__overlay a:hover,
  &__overlay a:active{
    font-size: 120%;
    font-weight: 700;
    opacity: 0.9;
  }

    &__click {
      position: absolute;
      top: 60%;
      right: 0;
      -webkit-transform: translateX(20%);
              transform: translateX(20%);

              @mixin atSmall {
                top: 70%;
                right: 5%;
                -webkit-transform: translateX(30%);
                        transform: translateX(30%);
              }
              @mixin atMedium {
                top: 80%;
                right: 5%;
                -webkit-transform: translateX(30%);
                        transform: translateX(30%);
              }
              @mixin atLarge {
                top: 80%;
                right: 5%;
                -webkit-transform: translateX(30%);
                        transform: translateX(30%);
              }
    }

    &__logo {
      display: inline-block;
      height: 50px;
      width: auto;

      @mixin atSmall {
        height: 70px;
        top: 30%;
        left:20%;
      }
    }

    &__figure {
      position: relative;
    }

    &__figcaption {
      position: absolute;
      width: 100%;
      font-size: .9rem;
      line-height: 10px;
      text-align: center;
      left: 0;
      top:30%;
      color: #fff;
      font-weight: 300;

      @mixin atSmall {
        font-size: 1.1rem;
        line-height: 20px;
        font-weight: 400;

      }
    }

}
